Repository jan-tennert/supabase-kt, changes with the labels that .github/labeler.yml gives for each.
All labels: core, realtime, functions, postgrest, auth, storage, plugins, tests, samples, serializers, documentation, build file

.github/labeler.yml:

core:
  - changed-files:
      - any-glob-to-any-file: src/**

realtime:
  - changed-files:
      - any-glob-to-any-file: Realtime/**

functions:
  - changed-files:
      - any-glob-to-any-file: Functions/**

postgrest:
  - changed-files:
      - any-glob-to-any-file: Postgrest/**

auth:
  - changed-files:
      - any-glob-to-any-file: GoTrue/**

storage:
  - changed-files:
      - any-glob-to-any-file: Storage/**

plugins:
  - changed-files:
      - any-glob-to-any-file: plugins/**

tests:
  - changed-files:
      - any-glob-to-any-file: '**/*Test/**'

samples:
  - changed-files:
      - any-glob-to-any-file: samples/**

serializers:
  - changed-files:
      - any-glob-to-any-file: serializers/**

documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

build file:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.gradle.kts'
          - 'gradle.properties'
          - 'gradlew'
          - 'gradlew.bat'
          - '**/gradle/**'

Fix critical bug causing sessions to be refreshed later than they should be
  GoTrue/src/settingsMain/kotlin/io/github/jan/supabase/gotrue/SettingsSessionManager.kt
Labels: auth

Update version
  gradle.properties
Labels: build file

Initial commit
  gradle/libs.versions.toml
  plugins/GenDatabaseTypes/README.md
  plugins/GenDatabaseTypes/gdp-ksp/build.gradle.kts
  plugins/GenDatabaseTypes/gdp-ksp/src/main/kotlin/io/github/jan/supabase/gdp/KSPProcessor.kt
  plugins/GenDatabaseTypes/gdp-ksp/src/main/kotlin/io/github/jan/supabase/gdp/KSPProcessorProvider.kt
  plugins/GenDatabaseTypes/gdp-ksp/src/main/kotlin/io/github/jan/supabase/gdp/SupabaseDB.kt
  plugins/GenDatabaseTypes/gdp-ksp/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  settings.gradle.kts
Labels: plugins, documentation, build file

initial work on plugins
  gradle/libs.versions.toml
  plugins/GenDatabaseTypes/gdp-core/build.gradle.kts
  plugins/GenDatabaseTypes/gdp-core/src/main/kotlin/PostgrestAPI.kt
  plugins/GenDatabaseTypes/gdp-plugin/build.gradle.kts
  plugins/GenDatabaseTypes/gdp-plugin/src/main/kotlin/io/github/jan/supabase/gdp/FetchDatabaseSchemeTask.kt
  plugins/GenDatabaseTypes/gdp-plugin/src/main/kotlin/io/github/jan/supabase/gdp/GenDatabaseTypesPlugin.kt
  settings.gradle.kts
Labels: plugins, build file

Initial commit
  KSP/build.gradle.kts
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/PrimitiveColumnType.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessorProvider.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/Utils.kt
  KSP/src/main/resources/META-INF/services/com.google.devtools.ksp.processing.SymbolProcessorProvider
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/ApplyFunction.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Cast.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/ColumnName.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Foreign.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/JsonPath.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Selectable.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: postgrest, build file

Small improvements
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/ColumnOptions.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/JsonPath.kt
Labels: postgrest

Improve error checks
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/Utils.kt
Labels: none

Support for more auto casts
  KSP/build.gradle.kts
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/PrimitiveColumnType.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/ApplyFunction.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Cast.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/ColumnName.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Foreign.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/JsonPath.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Selectable.kt
  buildSrc/src/main/kotlin/Modules.kt
Labels: postgrest, build file

Add alias support for json columns
  KSP/build.gradle.kts
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/ColumnOptions.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/JsonPath.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Selectable.kt
Labels: postgrest, build file

Revert JsonPath change
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/ColumnOptions.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/JsonPath.kt
Labels: postgrest

Use new column registry
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/ColumnRegistry.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/PostgrestImpl.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestBuilderExtension.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestQueryBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/InsertRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/RpcRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/SelectRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/UpsertRequestBuilder.kt
Labels: postgrest

Add some docs
  KSP/README.md
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  Postgrest/README.md
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/ColumnRegistry.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
Labels: postgrest, documentation

Fix typo
  KSP/README.md
  Postgrest/README.md
Labels: postgrest, documentation

Update KSP docs
  KSP/README.md
Labels: documentation

Fix detekt and JS
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/Utils.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/ColumnRegistry.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/ApplyFunction.kt
  Postgrest/src/commonTest/kotlin/Utils.kt
  detekt.yml
Labels: postgrest, tests

Small improvements
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/ColumnRegistry.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/Postgrest.kt
  Postgrest/src/commonTest/kotlin/Utils.kt
Labels: postgrest, tests

Fix error when not using the root package
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/PrimitiveColumnType.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessor.kt
Labels: none

Cleanup and add some tests
  KSP/README.md
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/SelectableSymbolProcessorProvider.kt
  KSP/src/main/kotlin/io/github/jan/supabase/ksp/Utils.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/ColumnRegistry.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/PostgrestImpl.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestBuilderExtension.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestQueryBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/PostgrestRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/InsertRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/RpcRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/SelectRequestBuilder.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/query/request/UpsertRequestBuilder.kt
  Postgrest/src/commonTest/kotlin/ColumnRegistryTest.kt
  Postgrest/src/commonTest/kotlin/PostgrestRequestBuilderTest.kt
  Postgrest/src/commonTest/kotlin/PostgrestTest.kt
  Postgrest/src/commonTest/kotlin/TestType.kt
  Postgrest/src/commonTest/kotlin/Utils.kt
Labels: postgrest, tests, documentation

Fix invalid test type
  Postgrest/src/commonTest/kotlin/ColumnRegistryTest.kt
Labels: postgrest, tests

Improve docs
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Cast.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/JsonPath.kt
  Postgrest/src/commonMain/kotlin/io/github/jan/supabase/postgrest/annotations/Selectable.kt
Labels: postgrest

Add note about IDE issues
  KSP/README.md
Labels: documentation

Update docs
  KSP/README.md
Labels: documentation
